extends ./layout/_common

block head
    title TOP

block css
    link(rel="stylesheet" href="/css/common.css")

block content
    - var path = "./";
    .p-index
        .p-index__main
            p このサイトはフロントエンド
            p 例えばCSS一覧ページがどうたらこうたらとか
        .c-articles



    include includes/_include