extends ./layout/_common

block head
    title TOP

block css
    link(rel="stylesheet" href="/css/common.css")

block content
    - var path = "./";
    p index.pugです
    
    include includes/_include