@use './Global/_variable.scss' as *;

.l-header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: $blue;
    color: #fff;
  }
}
