doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		// titleを書いてください。
		block head

		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")

		link(rel="stylesheet" href=`/css/common.css`)

		// 読み込むcssがあれば記載してください。
		block css

	body
		header.l-header
			.l-header__inner
				h1
					a.l-header__logo(href="/") FRONTEND CODE
				ul.l-header__nav
					li
						a(href="/pages/css/") CSS
					li
						a(href="/pages/javascript/") JavaScript

		// ぱんくずリスト
		//- include ../components/_breadcrumbs

		block content

		footer.l-footer
			p © 2024 Daijiro Takeuchi All rights reserved

		script(src="js/script.js")

		// 他に読み込むjsがあれば記載してください。
		block js